torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
whisperx
mediapipe
google-genai
insightface
gradio
opencv-python
psutil
fastapi
uvicorn
deep-translator
tqdm
edge-tts
python-dotenv
openai
anthropic
google-generativeai
